.navbar {
  display: flex;
  min-height: 120px;
  background-color: darkorange;
  color: #FFFFFF;
  padding: 0em 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: xxx-large;
  padding-top: 1em;
}

.navcompose {
  text-align: center;
}

.composeicon {
  color: orangered;
}